openapi: 3.0.3
info:
    title: The WellHive Care Navigation API
    description: |-
        The API for navigating your patients' care across your internal and external networks of provider organizations and services.
        	
        Find more details [here](https://github.com/wellhive/api-docs).

        Copyright 2024 WellHive Holdings, LLC
    license:
        name: MIT
        url: https://github.com/wellhive/api-docs/blob/main/LICENSE
    version: 1.0 beta
servers:
    - url: https://api.wellhive.com
paths:
    /care-navigation/v1/appointments:
        get:
            tags:
                - Appointment
            summary: Appointment.search
            description: search for Appointments; one of id, patientId, referralNumber, or nextToken are required; includes the status and details currently known by WellHive, and does not attempt to retrieve the latest from the ProviderService's system (see the 'retrieveLatestDetails' param of Appointment.show)
            operationId: Appointment#search
            parameters:
                - name: id
                  in: query
                  description: find Appointments by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Itaque veritatis temporibus.
                    description: find Appointments by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: patientId
                  in: query
                  description: find Appointments by Patient
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by Patient
                    example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                  example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                - name: referralNumber
                  in: query
                  description: find Appointments by referralNumber
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by referralNumber
                    example: "12345"
                  example: "12345"
                - name: onOrAfter
                  in: query
                  description: find Appointments that start(ed) on or after this date/time
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments that start(ed) on or after this date/time
                    example: "2026-01-01T00:00:00Z"
                    format: date-time
                  example: "2026-01-01T00:00:00Z"
                - name: state
                  in: query
                  description: find Appointments by lifecycle state
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by lifecycle state
                    example: submitted
                  example: submitted
                - name: nextToken
                  in: query
                  description: the nextToken from a previous AppointmentSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous AppointmentSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentSearchResult'
                            example:
                                appointments:
                                    - appointmentDetails:
                                        appointmentType:
                                            id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                            name: New Patient
                                        cancelReason:
                                            id: 3b13a8cb-d4f3-4678-8bed-7fa3931c0c40
                                            name: Patient
                                        isLastest: true
                                        lastRetrieved: "2009-01-05T02:59:23Z"
                                        phone: 555-555-1000
                                        start: "2026-01-01T17:00:00Z"
                                        status: booked
                                      error: slot-conflict
                                      id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                      networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      referral:
                                        referralNumber: "12345"
                                      slotIds:
                                        - dba0855e-5681-411d-801c-036f4f046988
                                      state: submitted
                                    - id: bfd486ae-b04e-42a7-b049-8c689b6caef2
                                      patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      referral:
                                        referralNumber: "6789"
                                      state: draft
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse11'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
        post:
            tags:
                - Appointment
            summary: Appointment.create
            description: create an Appointment; this creates a draft Appointment that won't be booked until it is submitted
            operationId: Appointment#create
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentCreatePayload2'
                        example:
                            patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                            referral:
                                referralNumber: "12345"
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            examples:
                                default:
                                    summary: default
                                    value:
                                        id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                        patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                        referral:
                                            referralNumber: "12345"
                                        state: draft
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse12'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}:
        get:
            tags:
                - Appointment
            summary: Appointment.show
            description: retrieve an Appointment by ID
            operationId: Appointment#show
            parameters:
                - name: retrieveLatestDetails
                  in: query
                  description: instruct WellHive to retrieve latest appointmentDetails (e.g. status) from the ProviderService's external system; defaults to false; note this affects the utilization quota for Appointment Show
                  allowEmptyValue: true
                  schema:
                    type: boolean
                    description: instruct WellHive to retrieve latest appointmentDetails (e.g. status) from the ProviderService's external system; defaults to false; note this affects the utilization quota for Appointment Show
                    default: false
                    example: false
                  example: false
                - name: appointmentId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            example:
                                appointmentDetails:
                                    appointmentType:
                                        id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                        name: New Patient
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2001-08-19T20:36:51Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: slot-conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    referralNumber: "12345"
                                slotIds:
                                    - dba0855e-5681-411d-801c-036f4f046988
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse13'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/cancel:
        post:
            tags:
                - Appointment
            summary: Appointment.cancel
            description: request to cancel the Appointment; appointment can only be cancelled if its state is 'submitted' for booking; use Appointment.show to poll for state to change to completed or errorReason to be populated
            operationId: Appointment#cancel
            parameters:
                - name: appointmentId
                  in: path
                  description: the ID of the Appointment to cancel
                  required: true
                  schema:
                    type: string
                    description: the ID of the Appointment to cancel
                    example: 69cd9203-5e92-47a3-aa03-94b03752872a
                    minLength: 1
                  example: 69cd9203-5e92-47a3-aa03-94b03752872a
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentCancelPayload2'
                        example:
                            cancelReasonId: 930c8a9f-ce78-449c-8dda-d5428d183ec8
            responses:
                "202":
                    description: Accepted response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            example:
                                appointmentDetails:
                                    appointmentType:
                                        id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                        name: New Patient
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2001-08-19T20:36:51Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: slot-conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    referralNumber: "12345"
                                slotIds:
                                    - dba0855e-5681-411d-801c-036f4f046988
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse15'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/cancel-reasons:
        get:
            tags:
                - Appointment
            summary: Appointment.cancelReasons
            operationId: Appointment#cancelReasons
            parameters:
                - name: appointmentId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CancelReasonsResult'
                            examples:
                                default:
                                    summary: default
                                    value:
                                        cancelReasons:
                                            - id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                              name: Patient
                                            - id: 57b56149-10e8-41e9-8117-2abf67de46d0
                                              name: Provider
                                            - id: c7a4fbdb-7f2f-45ad-b0b1-4d27f19fde19
                                              name: Other
                                        count: 3
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse16'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/submit:
        post:
            tags:
                - Appointment
            summary: Appointment.submit
            description: submit the Appointment to the ProviderService to be booked; must currently be in a 'draft' state in order to submit for booking; use Appointment.show to poll for state to change to submitted or errorReason to be populated
            operationId: Appointment#submit
            parameters:
                - name: appointmentId
                  in: path
                  description: the ID of the Appointment to submit
                  required: true
                  schema:
                    type: string
                    description: the ID of the Appointment to submit
                    example: 69cd9203-5e92-47a3-aa03-94b03752872a
                    minLength: 1
                  example: 69cd9203-5e92-47a3-aa03-94b03752872a
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentSubmitPayload2'
                        example:
                            additionalPatientAttributes:
                                address:
                                    city: Anytown
                                    country: USA
                                    line:
                                        - 123 Main Street
                                        - Suite 101
                                    postalCode: "12345"
                                    state: FL
                                    type: both
                                    use: home
                                birthDate: "1977-01-01"
                                email: jdoe@example.com
                                name:
                                    family: Doe
                                    given:
                                        - Jane
                                        - Jill
                                phone: 555-555-1111
                                sex: female
                            applicablePatientAddress:
                                city: Anytown
                                country: USA
                                line:
                                    - 456 Secondary Street
                                    - Suite 202
                                postalCode: "67890"
                                state: GA
                                type: both
                                use: home
                            networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                            providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                            referral:
                                referralNumber: "12345"
                            slotIds:
                                - 87b0e9dd-6849-457f-9d1b-40b25584dd73
            responses:
                "202":
                    description: Accepted response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            example:
                                appointmentDetails:
                                    appointmentType:
                                        id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                        name: New Patient
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2001-08-19T20:36:51Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: slot-conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    referralNumber: "12345"
                                slotIds:
                                    - dba0855e-5681-411d-801c-036f4f046988
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse14'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/care-plans:
        get:
            tags:
                - CarePlan
            summary: CarePlan.search
            description: find CarePlans matching the supplied search params; returns zero or more CarePlans
            operationId: CarePlan#search
            parameters:
                - name: externalId
                  in: query
                  description: your own unique care plan identifier, external to WellHive; exact match; when this parameter is specified, zero or one CarePlan will be returned
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: your own unique care plan identifier, external to WellHive; exact match; when this parameter is specified, zero or one CarePlan will be returned
                    example: va-7655-78876545
                  example: va-7655-78876545
                - name: nextToken
                  in: query
                  description: the nextToken from a previous CarePlanSearchResult to use for retrieving the next page; other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous CarePlanSearchResult to use for retrieving the next page; other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CarePlanSearchResult'
                            example:
                                carePlans:
                                    - actions:
                                        - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          attentionItems:
                                            - category: high
                                              description: This is a full description of the first attention item
                                              summary: This is a summary of the first attention item
                                            - category: medium
                                              description: This is a full description of the second attention item
                                              summary: This is a summary of the second attention item
                                          descriptionLines:
                                            - line 1
                                            - line 2
                                          externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                          isRecordReviewAcceptable: true
                                          patientMustBePresent: true
                                          patientPreferences:
                                            providerSex: female
                                          priorities:
                                            - High
                                          priorityCode: 1
                                          secondarySpecialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          specialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          summary: Initial evaluation for this episode of care
                                      category: Dentist
                                      description: Care plan description for Dentist
                                      externalId: va-7655-78876545
                                      id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      name: Dental Specialty Endodontics
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                    - actions:
                                        - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          attentionItems:
                                            - category: high
                                              description: This is a full description of the first attention item
                                              summary: This is a summary of the first attention item
                                            - category: medium
                                              description: This is a full description of the second attention item
                                              summary: This is a summary of the second attention item
                                          descriptionLines:
                                            - line 1
                                            - line 2
                                          externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                          isRecordReviewAcceptable: true
                                          patientMustBePresent: true
                                          patientPreferences:
                                            providerSex: female
                                          priorities:
                                            - High
                                          priorityCode: 1
                                          secondarySpecialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          specialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          summary: Initial evaluation for this episode of care
                                      category: Dentist
                                      description: Care plan description for Dentist
                                      externalId: va-7655-78876545
                                      id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      name: Dental Specialty Endodontics
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                    - actions:
                                        - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          attentionItems:
                                            - category: high
                                              description: This is a full description of the first attention item
                                              summary: This is a summary of the first attention item
                                            - category: medium
                                              description: This is a full description of the second attention item
                                              summary: This is a summary of the second attention item
                                          descriptionLines:
                                            - line 1
                                            - line 2
                                          externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                          isRecordReviewAcceptable: true
                                          patientMustBePresent: true
                                          patientPreferences:
                                            providerSex: female
                                          priorities:
                                            - High
                                          priorityCode: 1
                                          secondarySpecialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          specialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          summary: Initial evaluation for this episode of care
                                      category: Dentist
                                      description: Care plan description for Dentist
                                      externalId: va-7655-78876545
                                      id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      name: Dental Specialty Endodontics
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/care-plans/{carePlanId}:
        get:
            tags:
                - CarePlan
            summary: CarePlan.show
            description: retrieve a CarePlan by ID
            operationId: CarePlan#show
            parameters:
                - name: carePlanId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CarePlanResult'
                            example:
                                actions:
                                    - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      attentionItems:
                                        - category: high
                                          description: This is a full description of the first attention item
                                          summary: This is a summary of the first attention item
                                        - category: medium
                                          description: This is a full description of the second attention item
                                          summary: This is a summary of the second attention item
                                      descriptionLines:
                                        - line 1
                                        - line 2
                                      externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      isRecordReviewAcceptable: true
                                      patientMustBePresent: true
                                      patientPreferences:
                                        providerSex: female
                                      priorities:
                                        - High
                                      priorityCode: 1
                                      secondarySpecialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      summary: Initial evaluation for this episode of care
                                category: Dentist
                                description: Care plan description for Dentist
                                externalId: va-7655-78876545
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                name: Dental Specialty Endodontics
                                specialtyIds:
                                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse3'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/care-plans/batch-upsert:
        post:
            tags:
                - CarePlan
            summary: CarePlan.batchUpdateOrCreate
            description: batch upsert
            operationId: CarePlan#batchUpdateOrCreate
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CarePlanBatchUpsertPayload2'
                        example:
                            payloads:
                                - actions:
                                    - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      attentionItems:
                                        - category: high
                                          description: This is a full description of the first attention item
                                          summary: This is a summary of the first attention item
                                        - category: medium
                                          description: This is a full description of the second attention item
                                          summary: This is a summary of the second attention item
                                      descriptionLines:
                                        - line 1
                                        - line 2
                                      externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      isRecordReviewAcceptable: true
                                      patientMustBePresent: true
                                      patientPreferences:
                                        providerSex: female
                                      priorities:
                                        - High
                                      priorityCode: 1
                                      secondarySpecialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      summary: Initial evaluation for this episode of care
                                  category: Dentist
                                  description: Care plan description for Dentist
                                  externalId: va-7655-78876545
                                  name: Dental Specialty Endodontics
                                  specialtyIds:
                                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                - actions:
                                    - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      attentionItems:
                                        - category: high
                                          description: This is a full description of the first attention item
                                          summary: This is a summary of the first attention item
                                        - category: medium
                                          description: This is a full description of the second attention item
                                          summary: This is a summary of the second attention item
                                      descriptionLines:
                                        - line 1
                                        - line 2
                                      externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      isRecordReviewAcceptable: true
                                      patientMustBePresent: true
                                      patientPreferences:
                                        providerSex: female
                                      priorities:
                                        - High
                                      priorityCode: 1
                                      secondarySpecialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      summary: Initial evaluation for this episode of care
                                  category: Dentist
                                  description: Care plan description for Dentist
                                  externalId: va-7655-78876545
                                  name: Dental Specialty Endodontics
                                  specialtyIds:
                                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/CarePlanResult'
                                example:
                                    - actions:
                                        - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          attentionItems:
                                            - category: high
                                              description: This is a full description of the first attention item
                                              summary: This is a summary of the first attention item
                                            - category: medium
                                              description: This is a full description of the second attention item
                                              summary: This is a summary of the second attention item
                                          descriptionLines:
                                            - line 1
                                            - line 2
                                          externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                          isRecordReviewAcceptable: true
                                          patientMustBePresent: true
                                          patientPreferences:
                                            providerSex: female
                                          priorities:
                                            - High
                                          priorityCode: 1
                                          secondarySpecialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          specialtyIds:
                                            - 69cd9203-5e92-47a3-aa03-94b03752872a
                                            - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                          summary: Initial evaluation for this episode of care
                                      category: Dentist
                                      description: Care plan description for Dentist
                                      externalId: va-7655-78876545
                                      id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      name: Dental Specialty Endodontics
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                minItems: 1
                                maxItems: 100
                            example:
                                - actions:
                                    - assignedNetworkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      assignedProviderServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      attentionItems:
                                        - category: high
                                          description: This is a full description of the first attention item
                                          summary: This is a summary of the first attention item
                                        - category: medium
                                          description: This is a full description of the second attention item
                                          summary: This is a summary of the second attention item
                                      descriptionLines:
                                        - line 1
                                        - line 2
                                      externalId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      isRecordReviewAcceptable: true
                                      patientMustBePresent: true
                                      patientPreferences:
                                        providerSex: female
                                      priorities:
                                        - High
                                      priorityCode: 1
                                      secondarySpecialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      specialtyIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      summary: Initial evaluation for this episode of care
                                  category: Dentist
                                  description: Care plan description for Dentist
                                  externalId: va-7655-78876545
                                  id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                  name: Dental Specialty Endodontics
                                  specialtyIds:
                                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse4'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/drive-times:
        post:
            tags:
                - DriveTime
            summary: DriveTime.calculate
            description: calculate drive times from the origin to each of the destinations; if any destination's route cannot be calculated it will be returned in the response with no route information
            operationId: DriveTime#calculate
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DriveTimePayload2'
                        example:
                            destinations:
                                00eff3f3-ecfb-41ff-9ebc-78ed811e17f9:
                                    latitude: -74.12870564772521
                                    longitude: -151.6240405624497
                                69cd9203-5e92-47a3-aa03-94b03752872a:
                                    latitude: -1.7437745123171688
                                    longitude: -54.19187859370315
                            origin:
                                latitude: 4.627174468915552
                                longitude: -88.72187894562788
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DriveTimeResult'
                            example:
                                destinations:
                                    00eff3f3-ecfb-41ff-9ebc-78ed811e17f9:
                                        distanceInMiles: 4
                                        driveTimeInSecondsWithTraffic: 566
                                        driveTimeInSecondsWithoutTraffic: 493
                                        latitude: -74.12870564772521
                                        longitude: -151.6240405624497
                                    69cd9203-5e92-47a3-aa03-94b03752872a:
                                        distanceInMiles: 9
                                        driveTimeInSecondsWithTraffic: 1314
                                        driveTimeInSecondsWithoutTraffic: 1039
                                        latitude: -1.7437745123171688
                                        longitude: -54.19187859370315
                                origin:
                                    latitude: 4.627174468915552
                                    longitude: -88.72187894562788
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse5'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/managed-organizations:
        get:
            tags:
                - ManagedOrganization
            summary: ManagedOrganization.search
            description: search the ManagedOrganizations of your own organization; results are always scoped to the organizations you manage
            operationId: ManagedOrganization#search
            parameters:
                - name: id
                  in: query
                  description: find ManagedOrganizations matching any of the provided IDs
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Ipsam quo aliquam et quas rem.
                    description: find ManagedOrganizations matching any of the provided IDs
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: externalId
                  in: query
                  description: find the ManagedOrganization with a matching externalId; returns zero or one result
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find the ManagedOrganization with a matching externalId; returns zero or one result
                    example: vha-eps-98765
                  example: vha-eps-98765
                - name: name
                  in: query
                  description: find ManagedOrganizations with matching names
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find ManagedOrganizations with matching names
                    example: VHA Direct
                  example: VHA Direct
                - name: pageSize
                  in: query
                  description: the number of results to return per page, defaults to 100
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: the number of results to return per page, defaults to 100
                    example: 100
                    format: int64
                    minimum: 1
                    maximum: 1000
                  example: 100
                - name: nextToken
                  in: query
                  description: the nextToken from a previous ManagedOrganizationSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous ManagedOrganizationSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ManagedOrganizationSearchResult'
                            example:
                                count: 2
                                managedOrganizations:
                                    - externalOrganizationIds:
                                        - vha-eps-98765
                                      id: ff826316-b95c-4888-b8bb-930598785fed
                                      name: VHA Direct Provider Organization
                                    - externalOrganizationIds:
                                        - vha-eps-12345
                                      id: 8d85bbad-2d8a-411f-8806-cb94a9a600d1
                                      name: Meridian Health
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse6'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/managed-organizations/{managedOrganizationId}:
        get:
            tags:
                - ManagedOrganization
            summary: ManagedOrganization.show
            description: retrieve one of your ManagedOrganizations by ID
            operationId: ManagedOrganization#show
            parameters:
                - name: managedOrganizationId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ManagedOrganizationResult'
                            example:
                                externalOrganizationIds:
                                    - vha-eps-98765
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                name: VHA Direct Provider Organization
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse7'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/networks:
        get:
            tags:
                - Network
            summary: Network.search
            operationId: Network#search
            parameters:
                - name: id
                  in: query
                  description: find Networks by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: In ad voluptas voluptatem.
                    description: find Networks by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: name
                  in: query
                  description: find Networks with matching names
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Networks with matching names
                    example: Acme
                  example: Acme
                - name: nextToken
                  in: query
                  description: the nextToken from a previous NetworkSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous NetworkSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NetworkSearchResult'
                            example:
                                count: 2
                                networks:
                                    - id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      name: The Acme Health Referral Network
                                      requiresReferralNumber: true
                                    - id: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      name: Acme Health Internal Providers
                                      requiresReferralNumber: false
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse8'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/networks/{networkId}:
        get:
            tags:
                - Network
            summary: Network.show
            operationId: Network#show
            parameters:
                - name: networkId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NetworkResult'
                            example:
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                name: The Acme Health Referral Network
                                requiresReferral: true
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
[...]
