openapi: 3.0.3
info:
    title: The WellHive Care Navigation API
    description: |-
        The API for navigating your patients' care across your internal and external networks of provider organizations and services.
        	
        Find more details [here](https://github.com/wellhive/api-docs).

        Copyright 2024 WellHive Holdings, LLC
    license:
        name: MIT
        url: https://github.com/wellhive/api-docs/blob/main/LICENSE
    version: 1.0 beta
servers:
    - url: https://api.wellhive.com
paths:
    /care-navigation/v1/ai-scheduling/sessions:
        post:
            tags:
                - AIScheduling
            summary: AIScheduling.create
            description: |-
                EARLY ACCESS: the AI-scheduling endpoints are an early version of this surface and are subject to breaking change until it is finalized. Attributes, enum values and response shapes may be added, renamed or removed without a version change. Do not treat the current shape as stable, and check the latest published specification before you build against it.

                create a new AI scheduling session for a patient. Creation does not guarantee the pipeline has started. For 'none' the session begins idle. For 'referral' the pipeline starts on its own when a specialty can be resolved from the referral's care plan, and stays idle when it cannot. In every case: check 'phase' on the returned session, and if it is 'idle', send a message with AIScheduling.sendMessage to start the pipeline.
            operationId: AIScheduling#create
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AISchedulingCreateSessionPayload2'
                        example:
                            contextType: referral
                            patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                            referralId: 69cd9203-5e92-47a3-aa03-94b03752872a
            responses:
                "201":
                    description: Created response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AISchedulingSession'
                            example:
                                accessCriteria:
                                    accessCriteriaId: group-1
                                    accessCriteriaName: Primary / Mental Health
                                    driveMinutes: 30
                                    waitDays: 20
                                appointmentId: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                contextType: referral
                                continuitySignal:
                                    lastSeenDate: "2024-08-15"
                                    providerName: Culpa fugit est qui laborum velit temporibus.
                                    providerServiceId: Ut in sunt voluptate architecto odit nemo.
                                    specialtyName: Reiciendis quis ut.
                                createdAt: "2026-05-23T15:30:00Z"
                                error: Scheduling could not be completed. Please try again, or contact your care team to schedule directly.
                                id: 8a5fe127-82f1-48aa-8b70-0249cf9880fc
                                parsedPreferences:
                                    appointmentType: new-patient
                                    daysOfWeek:
                                        - mon
                                        - tue
                                        - wed
                                    maxDistanceMiles: 10
                                    providerGender: female
                                    rawFactors:
                                        - prefers a female provider
                                        - needs wheelchair accessible parking
                                    specialty: Family Medicine
                                    targetDate:
                                        date: "2026-06-15"
                                        source: user-specified
                                    timeOfDay:
                                        - morning
                                        - afternoon
                                    visitMode: in-person
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                phase: ready-to-book
                                progress:
                                    providerServiceCount: 12
                                    recoveryRound: 1
                                    slotCount: 8
                                recommendations:
                                    nonDigitalProviderServices:
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                    providerServices:
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                    rankingRationale: In sequi.
                                    slots:
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                recoveryReport:
                                    attempts:
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                    exhausted: false
                                referralId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                status: active
                                turns:
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/ai-scheduling/sessions/{sessionId}:
        get:
            tags:
                - AIScheduling
            summary: AIScheduling.show
            description: |-
                EARLY ACCESS: the AI-scheduling endpoints are an early version of this surface and are subject to breaking change until it is finalized. Attributes, enum values and response shapes may be added, renamed or removed without a version change. Do not treat the current shape as stable, and check the latest published specification before you build against it.

                retrieve current state of an AI scheduling session including conversation history and recommendations; poll this while 'phase' names work in progress, and see 'phase' on AISchedulingSession for the rule on when to stop
            operationId: AIScheduling#show
            parameters:
                - name: sessionId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AISchedulingSession'
                            example:
                                accessCriteria:
                                    accessCriteriaId: group-1
                                    accessCriteriaName: Primary / Mental Health
                                    driveMinutes: 30
                                    waitDays: 20
                                appointmentId: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                contextType: referral
                                continuitySignal:
                                    lastSeenDate: "2024-08-15"
                                    providerName: Culpa fugit est qui laborum velit temporibus.
                                    providerServiceId: Ut in sunt voluptate architecto odit nemo.
                                    specialtyName: Reiciendis quis ut.
                                createdAt: "2026-05-23T15:30:00Z"
                                error: Scheduling could not be completed. Please try again, or contact your care team to schedule directly.
                                id: 8a5fe127-82f1-48aa-8b70-0249cf9880fc
                                parsedPreferences:
                                    appointmentType: new-patient
                                    daysOfWeek:
                                        - mon
                                        - tue
                                        - wed
                                    maxDistanceMiles: 10
                                    providerGender: female
                                    rawFactors:
                                        - prefers a female provider
                                        - needs wheelchair accessible parking
                                    specialty: Family Medicine
                                    targetDate:
                                        date: "2026-06-15"
                                        source: user-specified
                                    timeOfDay:
                                        - morning
                                        - afternoon
                                    visitMode: in-person
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                phase: ready-to-book
                                progress:
                                    providerServiceCount: 12
                                    recoveryRound: 1
                                    slotCount: 8
                                recommendations:
                                    nonDigitalProviderServices:
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                    providerServices:
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                    rankingRationale: In sequi.
                                    slots:
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                recoveryReport:
                                    attempts:
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                    exhausted: false
                                referralId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                status: active
                                turns:
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse3'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/ai-scheduling/sessions/{sessionId}/messages:
        post:
            tags:
                - AIScheduling
            summary: AIScheduling.sendMessage
            description: |-
                EARLY ACCESS: the AI-scheduling endpoints are an early version of this surface and are subject to breaking change until it is finalized. Attributes, enum values and response shapes may be added, renamed or removed without a version change. Do not treat the current shape as stable, and check the latest published specification before you build against it.

                send a user message to refine the session's results; the message is accepted and processed in the background, and the assistant reply arrives on a subsequent AIScheduling.show
            operationId: AIScheduling#sendMessage
            parameters:
                - name: sessionId
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AISchedulingSendMessagePayload2'
                        example:
                            content: afternoons only, within 10 miles
            responses:
                "202":
                    description: Accepted response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AISchedulingSession'
                            example:
                                accessCriteria:
                                    accessCriteriaId: group-1
                                    accessCriteriaName: Primary / Mental Health
                                    driveMinutes: 30
                                    waitDays: 20
                                appointmentId: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                contextType: referral
                                continuitySignal:
                                    lastSeenDate: "2024-08-15"
                                    providerName: Culpa fugit est qui laborum velit temporibus.
                                    providerServiceId: Ut in sunt voluptate architecto odit nemo.
                                    specialtyName: Reiciendis quis ut.
                                createdAt: "2026-05-23T15:30:00Z"
                                error: Scheduling could not be completed. Please try again, or contact your care team to schedule directly.
                                id: 8a5fe127-82f1-48aa-8b70-0249cf9880fc
                                parsedPreferences:
                                    appointmentType: new-patient
                                    daysOfWeek:
                                        - mon
                                        - tue
                                        - wed
                                    maxDistanceMiles: 10
                                    providerGender: female
                                    rawFactors:
                                        - prefers a female provider
                                        - needs wheelchair accessible parking
                                    specialty: Family Medicine
                                    targetDate:
                                        date: "2026-06-15"
                                        source: user-specified
                                    timeOfDay:
                                        - morning
                                        - afternoon
                                    visitMode: in-person
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                phase: ready-to-book
                                progress:
                                    providerServiceCount: 12
                                    recoveryRound: 1
                                    slotCount: 8
                                recommendations:
                                    nonDigitalProviderServices:
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                    providerServices:
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                        - appointmentTypes:
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                            - id: Consequatur non sed perspiciatis blanditiis ratione pariatur.
                                              name: Dolores est id laborum sed.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          continuityMatch: true
                                          distanceDisplay: 4.2 mi
                                          distanceMeters: 6759
                                          driveMinutes: 12.4
                                          gender: female
                                          location: 123 Main St, Anytown, FL
                                          networkId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          organizationName: Eclipse Health Group
                                          providerName: Dr. Smith - Anytown Family Practice
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          reasoning: Provident sed aut est debitis eligendi.
                                          schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                          specialty: Family Medicine
                                          visitMode: in-person
                                          waitDays: 8
                                    rankingRationale: In sequi.
                                    slots:
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                        - appointmentType: Ea quos consequatur fuga.
                                          category:
                                            label: Preferred
                                            value: preferred
                                          dateTime: "2026-06-12T13:00:00Z"
                                          distanceDisplay: Suscipit sint temporibus rerum sunt possimus magni.
                                          location: Eaque fugit repellat tenetur et porro.
                                          providerName: Vel officia.
                                          providerServiceId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                          rank: 1
                                          restrictionReason: schedule-overlap
                                          slotId: 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                          targetDateOffset: -3
                                recoveryReport:
                                    attempts:
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                        - detail: Expanded search radius to 50 miles
                                          providerOrgCount: 7379255638836446519
                                          strategy: expand-distance
                                    exhausted: false
                                referralId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                status: active
                                turns:
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                                    - content: I found three providers nearby; let me know if you want me to prefer afternoons.
                                      createdAt: "2026-05-23T15:31:12Z"
                                      role: assistant
                                      seq: 3
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "422":
                    description: 'Moderation Rejected: the message was rejected by content moderation'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Moderation Rejected
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse4'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments:
        get:
            tags:
                - Appointment
            summary: Appointment.search
            description: search for Appointments; one of id, patientId, referralNumber, or nextToken are required; includes the status and details currently known by WellHive, and does not attempt to retrieve the latest from the ProviderService's system (see the 'retrieveLatestDetails' param of Appointment.show)
            operationId: Appointment#search
            parameters:
                - name: id
                  in: query
                  description: find Appointments by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Voluptas totam reprehenderit.
                    description: find Appointments by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: patientId
                  in: query
                  description: find Appointments by Patient
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by Patient
                    example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                  example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                - name: referralNumber
                  in: query
                  description: find Appointments by referralNumber
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by referralNumber
                    example: "12345"
                  example: "12345"
                - name: onOrAfter
                  in: query
                  description: find Appointments that start(ed) on or after this date/time
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments that start(ed) on or after this date/time
                    example: "2026-01-01T00:00:00Z"
                    format: date-time
                  example: "2026-01-01T00:00:00Z"
                - name: state
                  in: query
                  description: find Appointments by lifecycle state
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by lifecycle state
                    example: submitted
                  example: submitted
                - name: nextToken
                  in: query
                  description: the nextToken from a previous AppointmentSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous AppointmentSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentSearchResult'
                            example:
                                appointments:
                                    - appointmentDetails:
                                        appointmentType:
                                            id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                            name: New Patient
                                        cancelReason:
                                            id: 3b13a8cb-d4f3-4678-8bed-7fa3931c0c40
                                            name: Patient
                                        isLastest: true
                                        lastRetrieved: "2009-01-05T02:59:23Z"
                                        phone: 555-555-1000
                                        start: "2026-01-01T17:00:00Z"
                                        status: booked
                                      error: slot-conflict
                                      id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                      networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      referral:
                                        referralNumber: "12345"
                                      slotIds:
                                        - dba0855e-5681-411d-801c-036f4f046988
                                      state: submitted
                                    - id: bfd486ae-b04e-42a7-b049-8c689b6caef2
                                      patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      referral:
                                        referralNumber: "6789"
                                      state: draft
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse14'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
        post:
            tags:
                - Appointment
            summary: Appointment.create
            description: create an Appointment; this creates a draft Appointment that won't be booked until it is submitted
            operationId: Appointment#create
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentCreatePayload2'
                        example:
                            patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                            referral:
                                referralNumber: "12345"
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            examples:
                                default:
                                    summary: default
                                    value:
                                        id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                        patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                        referral:
                                            referralNumber: "12345"
                                        state: draft
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse15'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}:
        get:
            tags:
                - Appointment
            summary: Appointment.show
            description: retrieve an Appointment by ID
            operationId: Appointment#show
            parameters:
                - name: retrieveLatestDetails
                  in: query
                  description: instruct WellHive to retrieve latest appointmentDetails (e.g. status) from the ProviderService's external system; defaults to false; note this affects the utilization quota for Appointment Show
                  allowEmptyValue: true
                  schema:
                    type: boolean
                    description: instruct WellHive to retrieve latest appointmentDetails (e.g. status) from the ProviderService's external system; defaults to false; note this affects the utilization quota for Appointment Show
                    default: false
                    example: false
                  example: false
                - name: appointmentId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            example:
                                appointmentDetails:
                                    appointmentType:
                                        id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                        name: New Patient
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2001-08-19T20:36:51Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: slot-conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    referralNumber: "12345"
                                slotIds:
                                    - 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse16'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/cancel:
        post:
            tags:
                - Appointment
            summary: Appointment.cancel
            description: request to cancel the Appointment; appointment can only be cancelled if its state is 'submitted' for booking; use Appointment.show to poll for state to change to completed or errorReason to be populated
            operationId: Appointment#cancel
            parameters:
                - name: appointmentId
                  in: path
                  description: the ID of the Appointment to cancel
                  required: true
                  schema:
                    type: string
                    description: the ID of the Appointment to cancel
                    example: 69cd9203-5e92-47a3-aa03-94b03752872a
                    minLength: 1
                  example: 69cd9203-5e92-47a3-aa03-94b03752872a
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentCancelPayload2'
                        example:
                            cancelReasonId: 930c8a9f-ce78-449c-8dda-d5428d183ec8
            responses:
                "202":
                    description: Accepted response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentResult'
                            example:
                                appointmentDetails:
                                    appointmentType:
                                        id: k9512p-bas2-42k1-55pl-ie259x10k5b71
                                        name: New Patient
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2001-08-19T20:36:51Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: slot-conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    referralNumber: "12345"
                                slotIds:
                                    - 8f2b1c4e-3d5a-4b6c-9e7f-1a2b3c4d5e6f|1|2026-06-12T13:00:00Z|30m0s|c9d8e7f6-a5b4-4c3d-8e2f-1a0b9c8d7e6f
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
[...]
