openapi: 3.0.3
info:
    title: The WellHive Care Navigation API
    description: |-
        The API for navigating your patients' care across your internal and external networks of provider organizations and services.
        	
        For details, visit http://github.com/wellhive/api-docs.

        Copyright 2024 WellHive Holdings, LLC
    license:
        name: MIT
        url: https://github.com/wellhive/api-docs/blob/main/LICENSE
    version: 1.0 beta
servers:
    - url: https://api.wellhive.com
paths:
    /care-navigation/v1/appointments:
        get:
            tags:
                - Appointment
            summary: Appointment.search
            description: search for Appointments; one of id, patientId, referralNumber, referralId, or nextToken are required; includes the status and details currently known by WellHive, and does not attempt to retrieve the latest from the ProviderService's system (see the 'retrieveLatestDetails' param of Appointment.show)
            operationId: Appointment#search
            parameters:
                - name: id
                  in: query
                  description: find Appointments by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Dolorem nemo qui iure praesentium.
                    description: find Appointments by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: patientId
                  in: query
                  description: find Appointments by Patient
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by Patient
                    example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                  example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                - name: referralNumber
                  in: query
                  description: find Appointments by referralNumber
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by referralNumber
                    example: "12345"
                  example: "12345"
                - name: referralId
                  in: query
                  description: find Appointments by Referral
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by Referral
                    example: "12345"
                  example: "12345"
                - name: onOrAfter
                  in: query
                  description: find Appointments that start(ed) on or after this date/time
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments that start(ed) on or after this date/time
                    example: "2026-01-01T00:00:00Z"
                    format: date-time
                  example: "2026-01-01T00:00:00Z"
                - name: state
                  in: query
                  description: find Appointments by lifecycle state
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Appointments by lifecycle state
                    example: submitted
                  example: submitted
                - name: nextToken
                  in: query
                  description: the nextToken from a previous AppointmentSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous AppointmentSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppointmentSearchResult'
                            example:
                                appointments:
                                    - appointmentDetails:
                                        cancelReason:
                                            id: 3b13a8cb-d4f3-4678-8bed-7fa3931c0c40
                                            name: Patient
                                        isLastest: true
                                        lastRetrieved: "2009-01-05T02:59:23Z"
                                        phone: 555-555-1000
                                        start: "2026-01-01T17:00:00Z"
                                        status: booked
                                      error: conflict
                                      id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                      networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      referral:
                                        id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                        referralNumber: "12345"
                                      slotIds:
                                        - dba0855e-5681-411d-801c-036f4f046988
                                      state: submitted
                                    - id: bfd486ae-b04e-42a7-b049-8c689b6caef2
                                      patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                      referral:
                                        id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      state: draft
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
        post:
            tags:
                - Appointment
            summary: Appointment.create
            description: create an Appointment; this creates a draft Appointment that won't be booked until it is submitted
            operationId: Appointment#create
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentCreatePayload'
                        example:
                            patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                            referral:
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referralNumber: "12345"
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Appointment'
                            examples:
                                default:
                                    summary: default
                                    value:
                                        id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                        patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                        referral:
                                            id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                        state: draft
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}:
        get:
            tags:
                - Appointment
            summary: Appointment.show
            description: retrieve an Appointment by ID
            operationId: Appointment#show
            parameters:
                - name: retrieveLatestDetails
                  in: query
                  description: instruct WellHive to retrieve latest appointmentDetails (e.g. status) from the ProviderService's external system; defaults to false; note there is a cost associated, see Pricing
                  allowEmptyValue: true
                  schema:
                    type: boolean
                    description: instruct WellHive to retrieve latest appointmentDetails (e.g. status) from the ProviderService's external system; defaults to false; note there is a cost associated, see Pricing
                    default: false
                    example: false
                  example: false
                - name: appointmentId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Appointment'
                            example:
                                appointmentDetails:
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2004-12-16T22:34:25Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                    referralNumber: "12345"
                                slotIds:
                                    - dba0855e-5681-411d-801c-036f4f046988
                                state: submitted
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/cancel:
        post:
            tags:
                - Appointment
            summary: Appointment.cancel
            description: request to cancel the Appointment; use Appointment.show to poll for state to change to completed or errorReason to be populated
            operationId: Appointment#cancel
            parameters:
                - name: appointmentId
                  in: path
                  description: the ID of the Appointment to cancel
                  required: true
                  schema:
                    type: string
                    description: the ID of the Appointment to cancel
                    example: 69cd9203-5e92-47a3-aa03-94b03752872a
                    minLength: 1
                  example: 69cd9203-5e92-47a3-aa03-94b03752872a
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentCancelPayload'
                        example:
                            cancelReasonId: 930c8a9f-ce78-449c-8dda-d5428d183ec8
            responses:
                "202":
                    description: Accepted response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Appointment'
                            example:
                                appointmentDetails:
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2004-12-16T22:34:25Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                    referralNumber: "12345"
                                slotIds:
                                    - dba0855e-5681-411d-801c-036f4f046988
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/cancel-reasons:
        get:
            tags:
                - Appointment
            summary: Appointment.cancelReasons
            operationId: Appointment#cancelReasons
            parameters:
                - name: appointmentId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CancelReasonsResult'
                            examples:
                                default:
                                    summary: default
                                    value:
                                        cancelReasons:
                                            - id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                              name: Patient
                                            - id: 57b56149-10e8-41e9-8117-2abf67de46d0
                                              name: Provider
                                            - id: c7a4fbdb-7f2f-45ad-b0b1-4d27f19fde19
                                              name: Other
                                        count: 3
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
                "504":
                    description: 'Gateway Timeout: timed out waiting for an external server, such as a customer''s Patient Index system'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isTemporary: true
                                isTimeout: true
                                name: Gateway Timeout
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/appointments/{appointmentId}/submit:
        post:
            tags:
                - Appointment
            summary: Appointment.submit
            description: submit the Appointment to the ProviderService to be booked; use Appointment.show to poll for state to change to submitted or errorReason to be populated
            operationId: Appointment#submit
            parameters:
                - name: appointmentId
                  in: path
                  description: the ID of the Appointment to submit
                  required: true
                  schema:
                    type: string
                    description: the ID of the Appointment to submit
                    example: 69cd9203-5e92-47a3-aa03-94b03752872a
                    minLength: 1
                  example: 69cd9203-5e92-47a3-aa03-94b03752872a
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppointmentSubmitPayload'
                        example:
                            additionalPatientAttributes:
                                address:
                                    city: Anytown
                                    country: USA
                                    line:
                                        - 123 Main Street
                                        - Suite 101
                                    postalCode: "12345"
                                    state: FL
                                    type: both
                                    use: home
                                birthDate: "1977-01-01"
                                email: jdoe@example.com
                                gender: female
                                name:
                                    family: Doe
                                    given:
                                        - Jane
                                        - Jill
                                phone: 555-555-1111
                            networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                            providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                            referral:
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referralNumber: "12345"
                            slotIds:
                                - Ea totam iure eaque.
                                - Officia voluptates eaque.
                                - Repellat tenetur et porro illum ea.
            responses:
                "202":
                    description: Accepted response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Appointment'
                            example:
                                appointmentDetails:
                                    cancelReason:
                                        id: 930c8a9f-ce78-449c-8dda-d5428d183ec8
                                        name: Patient
                                    isLatest: true
                                    lastRetrieved: "2004-12-16T22:34:25Z"
                                    phone: 555-555-1000
                                    start: "2026-01-01T17:00:00Z"
                                    status: booked
                                error: conflict
                                id: b79e46ba-1b09-4195-ae0a-ea42baedea6e
                                networkId: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                patientId: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                referral:
                                    id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                    referralNumber: "12345"
                                slotIds:
                                    - dba0855e-5681-411d-801c-036f4f046988
                                state: submitted
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/drive-times:
        post:
            tags:
                - DriveTime
            summary: DriveTime.calculate
            description: calculate drive times from the origin to each of the destinations
            operationId: DriveTime#calculate
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DriveTimePayload'
                        example:
                            destinations:
                                00eff3f3-ecfb-41ff-9ebc-78ed811e17f9:
                                    latitude: -74.12870564772521
                                    longitude: -151.6240405624497
                                69cd9203-5e92-47a3-aa03-94b03752872a:
                                    latitude: -1.7437745123171688
                                    longitude: -54.19187859370315
                            origin:
                                latitude: 4.627174468915552
                                longitude: -88.72187894562788
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DriveTimeResult'
                            example:
                                destinations:
                                    00eff3f3-ecfb-41ff-9ebc-78ed811e17f9:
                                        distanceInMiles: 4
                                        driveTimeInSecondsWithTraffic: 566
                                        driveTimeInSecondsWithoutTraffic: 493
                                        latitude: -74.12870564772521
                                        longitude: -151.6240405624497
                                    69cd9203-5e92-47a3-aa03-94b03752872a:
                                        distanceInMiles: 9
                                        driveTimeInSecondsWithTraffic: 1314
                                        driveTimeInSecondsWithoutTraffic: 1039
                                        latitude: -1.7437745123171688
                                        longitude: -54.19187859370315
                                origin:
                                    latitude: 4.627174468915552
                                    longitude: -88.72187894562788
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/networks:
        get:
            tags:
                - Network
            summary: Network.search
            operationId: Network#search
            parameters:
                - name: id
                  in: query
                  description: find Networks by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Placeat dolorem repudiandae placeat quia necessitatibus.
                    description: find Networks by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: name
                  in: query
                  description: find Networks with matching names
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Networks with matching names
                    example: Acme
                  example: Acme
                - name: nextToken
                  in: query
                  description: the nextToken from a previous NetworkSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous NetworkSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NetworkSearchResult'
                            example:
                                count: 2
                                networks:
                                    - id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      name: The Acme Health Referral Network
                                      requiresReferralNumber: true
                                    - id: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      name: Acme Health Internal Providers
                                      requiresReferralNumber: false
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/networks/{networkId}:
        get:
            tags:
                - Network
            summary: Network.show
            operationId: Network#show
            parameters:
                - name: networkId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Network'
                            example:
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                name: The Acme Health Referral Network
                                requiresReferral: true
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/provider-organizations:
        get:
            tags:
                - ProviderOrganization
            summary: ProviderOrganization.search
            operationId: ProviderOrganization#search
            parameters:
                - name: name
                  in: query
                  description: find ProviderOrganizations with matching names
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find ProviderOrganizations with matching names
                    example: Acme
                  example: Acme
                - name: networkId
                  in: query
                  description: find ProviderOrganizations in the identified Networks
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Unde error.
                    description: find ProviderOrganizations in the identified Networks
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: nextToken
                  in: query
                  description: the nextToken from a previous ProviderOrganizationSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous ProviderOrganizationSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProviderOrganizationSearchResult'
                            example:
                                count: 4
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                providerOrganizations:
                                    - name: Alpha Cardiology
                                      networkIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - name: Beta Dental
                                      networkIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - name: Acme Orthopaedic
                                      networkIds:
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                    - name: Acme Urology
                                      networkIds:
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                total: 11
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/provider-services:
        get:
            tags:
                - ProviderService
            summary: ProviderService.search
            operationId: ProviderService#search
            parameters:
                - name: appointmentId
                  in: query
                  description: the ID of an Appointment, used for associating search metrics with the Appointment
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the ID of an Appointment, used for associating search metrics with the Appointment
                    example: e2487f73-62e7-476b-a8b7-503333572d2a
                  example: e2487f73-62e7-476b-a8b7-503333572d2a
                - name: id
                  in: query
                  description: find ProviderServices by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Officia odit delectus neque non.
                    description: find ProviderServices by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: searchText
                  in: query
                  description: find ProviderServices matching the text
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find ProviderServices matching the text
                    example: Acme
                  example: Acme
                - name: maxMilesFromNear
                  in: query
                  description: find ProviderServices within a max distance in miles from nearLocation; required if nearLocation is provided
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: find ProviderServices within a max distance in miles from nearLocation; required if nearLocation is provided
                    example: 25
                    format: int32
                  example: 25
                - name: nearLocation
                  in: query
                  description: find ProviderServices near the comma delimited latitude,longitude
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find ProviderServices near the comma delimited latitude,longitude
                    example: 90.0,180.0
                  example: 90.0,180.0
                - name: networkId
                  in: query
                  description: find ProviderServices in the identified Networks
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: At consectetur et.
                    description: find ProviderServices in the identified Networks
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                - name: organizationName
                  in: query
                  description: find ProviderServices with matching organization names
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Et numquam.
                    description: find ProviderServices with matching organization names
                    example:
                        - Alpha Cardiology
                  example:
                    - Alpha Cardiology
                - name: specialtyId
                  in: query
                  description: find ProviderServices offering the identified Specialties
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Fuga quod.
                    description: find ProviderServices offering the identified Specialties
                    example:
                        - 207XX0004X
                  example:
                    - 207XX0004X
                - name: visitMode
                  in: query
                  description: find ProviderServices offering the identified VisitModes
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: in-person
                        enum:
                            - in-person
                            - phone
                            - virtual
                            - home-health
                    description: find ProviderServices offering the identified VisitModes
                    example:
                        - in-person
                  example:
                    - in-person
                - name: includeInactive
                  in: query
                  description: whether to include ProviderServices that are inactive; if not populated, inactive ProviderServices are excluded by default, while active ProviderServices are always included
                  allowEmptyValue: true
                  schema:
                    type: boolean
                    description: whether to include ProviderServices that are inactive; if not populated, inactive ProviderServices are excluded by default, while active ProviderServices are always included
                    example: false
                  example: false
                - name: digitalOrNot
                  in: query
                  description: find digital or non-digital ProviderServices, or find both; defaults to both
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find digital or non-digital ProviderServices, or find both; defaults to both
                    example: digital
                    enum:
                        - digital
                        - non-digital
                        - both
                  example: digital
                - name: isSelfSchedulable
                  in: query
                  description: filter to only ProviderServices that support patient self scheduling; if not populated, ProviderServices that do not support self scheduling are also included
                  allowEmptyValue: true
                  schema:
                    type: boolean
                    description: filter to only ProviderServices that support patient self scheduling; if not populated, ProviderServices that do not support self scheduling are also included
                    example: true
                  example: true
                - name: nextToken
                  in: query
                  description: the nextToken from a previous ProviderServiceSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous ProviderServiceSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProviderServiceSearchResult'
                            example:
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                providerServices:
                                    - appointmentTypes:
                                        - id: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                          name: Initial Consult
                                      contactDetails:
                                        - system: phone
                                          use: for_patient
                                          value: 555-555-0001
                                        - system: phone
                                          use: for_coordinator
                                          value: 555-555-1111
                                        - system: fax
                                          use: for_coordinator
                                          value: 555-555-0101
                                      features:
                                        directBooking:
                                            isEnabled: true
                                            requiredFields:
                                                - name
                                                - birthdate
                                                - gender
                                                - phone
                                                - email
                                        isDigital: true
                                      id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      individualProviders:
                                        - name: Dr. Smith
                                          npi: "1245319599"
                                      isActive: true
                                      location:
                                        address: 123 Main Street, Suite 1, Anywhere USA 12345
                                        latitude: 90
                                        longitude: 180
                                        name: Acme Cardiology - Anywhere, USA
                                        timezone: America/New_York
                                      name: Dr. Smith @ Acme Cardiology - Anywhere, USA
                                      networkIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      providerOrganization:
                                        name: Acme Cardiology
                                        npi: "1245319599"
                                        npiName: The Smith Group
                                      schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                      specialties:
                                        - id: 207XX0004X
                                          name: Orthopaedic Surgery - Foot and Ankle Surgery
                                      visitMode: in-person
                                    - appointmentTypes:
                                        - id: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                          name: MRI Scan
                                      contactDetails:
                                        - system: phone
                                          use: for_patient
                                          value: 555-555-0001
                                        - system: phone
                                          use: for_coordinator
                                          value: 555-555-1111
                                        - system: fax
                                          use: for_coordinator
                                          value: 555-555-0101
                                      features:
                                        directBooking:
                                            isEnabled: true
                                            requiredFields:
                                                - name
                                                - birthdate
                                                - gender
                                                - phone
                                        isDigital: true
                                      id: 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                      isActive: true
                                      location:
                                        address: 123 Main Street, Suite 100, Anywhere USA 12345
                                        latitude: 90
                                        longitude: 180
                                        name: Acme Imaging - Anywhere, USA
                                        timezone: America/New_York
                                      name: MRI @ Acme Imaging
                                      networkIds:
                                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                                      providerOrganization:
                                        name: Acme Imaging
                                        npi: "1245319588"
                                      specialties:
                                        - id: 261QM1200X
                                          name: Clinic/Center - Magnetic Resonance Imaging (MRI)
                                      visitMode: in-person
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/provider-services/{providerServiceId}:
        get:
            tags:
                - ProviderService
            summary: ProviderService.show
            operationId: ProviderService#show
            parameters:
                - name: providerServiceId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProviderService'
                            example:
                                appointmentTypes:
                                    - id: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      name: Initial Consult
                                contactDetails:
                                    - system: phone
                                      use: for_patient
                                      value: 555-555-0001
                                    - system: phone
                                      use: for_coordinator
                                      value: 555-555-1111
                                    - system: fax
                                      use: for_coordinator
                                      value: 555-555-0101
                                features:
                                    directBooking:
                                        isEnabled: true
                                        requiredFields:
                                            - name
                                            - birthdate
                                            - gender
                                            - phone
                                            - email
                                    isDigital: true
                                id: 69cd9203-5e92-47a3-aa03-94b03752872a
                                individualProviders:
                                    - name: Dr. Smith
                                      npi: "1245319599"
                                isActive: true
                                location:
                                    address: 123 Main Street, Suite 1, Anywhere USA 12345
                                    latitude: 90
                                    longitude: 180
                                    name: Acme Cardiology - Anywhere, USA
                                    timezone: America/New_York
                                name: Dr. Smith @ Acme Cardiology - Anywhere, USA
                                networkIds:
                                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                                providerOrganization:
                                    name: Acme Cardiology
                                    npi: "1245319599"
                                    npiName: The Smith Group
                                schedulingNotes: 'Please inform the patient: - New patients should arrive 30 minutes prior to the appointment to complete new patient paperwork'
                                specialties:
                                    - id: 207XX0004X
                                      name: Orthopaedic Surgery - Foot and Ankle Surgery
                                visitMode: in-person
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/provider-services/{providerServiceId}/slots:
        get:
            tags:
                - ProviderService
            summary: ProviderService.slotSearch
            operationId: ProviderService#slotSearch
            parameters:
                - name: providerServiceId
                  in: path
                  required: true
                  schema:
                    type: string
                    example: 69cd9203-5e92-47a3-aa03-94b03752872a
                  example: 69cd9203-5e92-47a3-aa03-94b03752872a
                - name: appointmentTypeId
                  in: query
                  allowEmptyValue: true
                  schema:
                    type: string
                    example: 665b5f97-dc9c-4935-991f-a997996c1943
                  example: 665b5f97-dc9c-4935-991f-a997996c1943
                - name: appointmentId
                  in: query
                  description: the ID of an Appointment, used for associating search metrics with the Appointment
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the ID of an Appointment, used for associating search metrics with the Appointment
                    example: e2487f73-62e7-476b-a8b7-503333572d2a
                  example: e2487f73-62e7-476b-a8b7-503333572d2a
                - name: id
                  in: query
                  description: find Slots by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Harum delectus ut soluta.
                    description: find Slots by ID
                    example:
                        - dba0855e-5681-411d-801c-036f4f046988
                  example:
                    - dba0855e-5681-411d-801c-036f4f046988
                - name: startOnOrAfter
                  in: query
                  description: find Slots that start on or after this date/time; required unless id or nextToken is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Slots that start on or after this date/time; required unless id or nextToken is provided
                    example: "2026-01-01T00:00:00Z"
                    format: date-time
                  example: "2026-01-01T00:00:00Z"
                - name: startBefore
                  in: query
                  description: find Slots start before this time; required unless id or nextToken is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Slots start before this time; required unless id or nextToken is provided
                    example: "2026-03-01T00:00:00Z"
                    format: date-time
                  example: "2026-03-01T00:00:00Z"
                - name: nextToken
                  in: query
                  description: the nextToken from a previous SlotSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous SlotSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SlotSearchResult'
                            example:
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                slots:
                                    - appointmentTypeId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      id: dba0855e-5681-411d-801c-036f4f046988
                                      providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      remaining: 1
                                      start: "2026-01-01T17:00:00Z"
                                    - appointmentTypeId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                      id: e3b29fa4-43b3-4b27-b5e2-62236d677abf
                                      providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                      remaining: 1
                                      start: "2026-01-01T18:00:00Z"
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/provider-services/{providerServiceId}/slots/{slotId}:
        get:
            tags:
                - ProviderService
            summary: ProviderService.slotShow
            operationId: ProviderService#slotShow
            parameters:
                - name: providerServiceId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: slotId
                  in: path
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Slot'
                            example:
                                appointmentTypeId: 40cca3e9-cbf2-48d0-b088-7f4a2713fcae
                                id: dba0855e-5681-411d-801c-036f4f046988
                                providerServiceId: 69cd9203-5e92-47a3-aa03-94b03752872a
                                remaining: 1
                                start: "2026-01-01T17:00:00Z"
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Unauthorized
                "403":
                    description: 'Forbidden: the request is forbidden (example, the IP address is not within the Trusted Internet Connection [TIC] address range)'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: requests must originate from your organization's Trusted Internet Connection (TIC)
                                name: Forbidden
                "404":
                    description: 'Not Found: no resource with the specified ID is found'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                name: Not Found
                "429":
                    description: 'Too Many Requests: the number or rate of requests has exceeded a limit'
                    headers:
                        Retry-After:
                            description: indicates how long the user agent should wait before making a follow-up request
                            schema:
                                type: integer
                                description: indicates how long the user agent should wait before making a follow-up request
                                example: "60"
                                format: int64
                            example: "60"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse2'
                            example:
                                isTemporary: true
                                name: Too Many Requests
                "500":
                    description: 'Internal Server Error: the server encountered an unexpected problem'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                isFault: true
                                isTemporary: true
                                name: Internal Server Error
            security:
                - jwt_header_Authorization: []
    /care-navigation/v1/referrals:
        get:
            tags:
                - Referral
            summary: Referral.search
            operationId: Referral#search
            parameters:
                - name: id
                  in: query
                  description: find Referrals by ID
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Velit corporis quibusdam eaque voluptatem.
                    description: find Referrals by ID
                    example:
                        - 69cd9203-5e92-47a3-aa03-94b03752872a
                        - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                  example:
                    - 69cd9203-5e92-47a3-aa03-94b03752872a
                    - 00eff3f3-ecfb-41ff-9ebc-78ed811e17f9
                - name: referralNumber
                  in: query
                  description: find a Referral by referralNumber
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find a Referral by referralNumber
                    example: "12345"
                  example: "12345"
                - name: patientId
                  in: query
                  description: find Referrals by Patient
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: find Referrals by Patient
                    example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                  example: b6cc1875-5313-4ca8-af8b-74adac0c5d0c
                - name: specialtyId
                  in: query
                  description: find Referrals by Specialty
                  allowEmptyValue: true
                  schema:
                    type: array
                    items:
                        type: string
                        example: Ut aut id et culpa rem.
                    description: find Referrals by Specialty
                    example:
                        - 207XX0004X
                        - 208200000X
                  example:
                    - 207XX0004X
                    - 208200000X
                - name: nextToken
                  in: query
                  description: the nextToken from a previous ReferralSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: the nextToken from a previous ReferralSearchResult to use for retrieving the next page, other params are ignored when this one is provided
                    example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                  example: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ReferralSearchResult'
                            example:
                                count: 2
                                nextToken: YTI0NTM5NzUtNzA2My00NTU5LWJiYWYtZTg3MGY4ZWZlYzg5
                                referrals:
                                    - id: ff826316-b95c-4888-b8bb-930598785fed
                                      patientId: e7c4a9c2-e7d9-46a5-8c5a-3596d5a403ca
                                      referralNumber: "23456"
                                      requested:
                                        careCategory: Dental
                                        specialtyIds:
                                            - 1223G0001X
                                      state: pending
                                    - id: 8d85bbad-2d8a-411f-8806-cb94a9a600d1
                                      patientId: 8a5fe127-82f1-48aa-8b70-0249cf9880fc
                                      referralNumber: "34567"
                                      requested:
                                        careCategory: Orthopaedic Surgery
                                      state: pending
                                total: 5
                "400":
                    description: 'Bad Request: something is wrong with the request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                            example:
                                message: invalid value for field xyz
                                name: Bad Request
                "401":
                    description: 'Unauthorized: not authorized to make the request'
                    content:
                        application/json:
[...]
